@tailwind base;
@tailwind components;
@tailwind utilities;

/* page width setup */
.page-width-max--md {
  max-width: var(--page-width-max-md);
}

.heading-align--left {
  @apply tw-text-left;
}

.heading-align--center {
  @apply tw-text-center;
}

.heading-align--right {
  @apply tw-text-right;
}

/* custom title font style */
.heading-style--2 {
  --font-heading-family: var(--font-heading-family-2);
  --font-heading-style: var(--font-heading-style-2);
  --font-heading-weight: var(--font-heading-weight-2);
  --font-heading-scale: var(--font-heading-scale-2);
}

.theme-gap-normal {
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

@screen md {
  .theme-gap-normal {
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}

/* typo override */
.subtitle {
  color: rgba(var(--color-foreground), 1);
}

.color-background-1,
.color-background-2,
.color-inverse,
.color-accent-1,
.color-accent-2 {
  /* color: rgba(var(--color-foreground), 1); */
}

.color-accent-2 {
  --color-button: var(--color-base-text);
  --color-foreground: var(--color-base-text);
  /* color: rgba(var(--color-base-text), 1); */
}

/* fix instafeed */
#insta-feed {
  @apply !tw-mt-0;
}

#insta-feed img,
.instafeed-shopify img {
  @apply !tw-w-full !tw-h-full;
}
#insta-feed .instafeed-overlay,
.instafeed-shopify .instafeed-overlay {
  @apply !tw-w-full !tw-h-full;
}

/* fix rich text box */
/* .rich-text__blocks > * + * {
  @apply !tw-mt-2;
} */
/* .rich-text__blocks .rich-text__buttons {
  @apply !tw-mt-4;
} */

/* fix main product accorditon */
.product__accordion.accordion details .accordion__content {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-size: calc(var(--font-heading-scale) * 1.5rem);

  @apply !tw-opacity-90;
  @apply !tw-space-y-2;
}
.product__accordion.accordion details .accordion__content strong {
  @apply !tw-font-body;
}

.product__accordion.accordion details .accordion__content a {
  @apply !tw-underline;
}

/* fix image with text */
.image-with-text__media {
  @apply !tw-border-none;
}

/* fix multi column */
.multicolumn-card__info > h3 {
  @apply tw-font-medium;
  @apply !tw-mb-2;
}

/* product card */
.card--standard > .card__content .card__information {
  @apply !tw-p-5 !tw-pb-0;
}

.card--standard > .card__content .card__heading {
  @apply tw-text-center;
  @apply !tw-py-5;
}

/* .collage */
.collage-2 {
  @apply tw-grid;
  /* @apply tw-gap-x-[var(--grid-desktop-horizontal-spacing)];
  @apply tw-gap-y-[var(--grid-desktop-vertical-spacing)]; */
  @apply tw-gap-x-[0.5rem];
  @apply tw-gap-y-[0.5rem];
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@screen md {
  .collage-2 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .collage-2 .collage__item--left,
  .collage-2 .collage__item--right {
    @apply !tw-col-span-1 !tw-row-span-1;
  }

  .collage-2 .collage__item--left:last-child,
  .collage-2 .collage__item--right:last-child {
    @apply !tw-col-span-1 !tw-row-span-1;
  }

  .collage-2 .collage__item--left:first-child {
    grid-column: 1 / 3 !important;
    grid-row: 1 / 3 !important;
  }

  .collage-2 .collage__item--right:first-child {
    grid-column: 3 / 5 !important;
    grid-row: 1 / 3 !important;
  }
}
